:root {
  --sidebar-bg-color: #3f3c3c;
  --sidebar-link-color: lightslategray;
  --sidebar-icon-color: lightslategray;
  --time-tracker-logo-color: lightslategray;

  --timer-display-bg-color: lightgray;
  --timer-display-text-color: black;
  --timer-display-time-color: black;
}

html,
body {
  height: 100%;
}

/* disable all underlines when hovering over links and icons */
i:hover {
  text-decoration: none;
}
.sidebar a:hover {
  text-decoration: none;
}

/* sidebar styles */
.sidebar {
  height: 100vh;
  background-color: var(--sidebar-bg-color);
  width: 100%;
  border-right: solid 1px black;
  /* padding: 1.5rem; */
}

.time-tracker-logo {
  color: var(--time-tracker-logo-color);
  font-size: 2rem;
  padding: 1rem;
  text-align: center;
}

/* styles for the list of links in the sidebar */
.sidebar-list {
  list-style-type: none;
  padding: 0;
  margin: 1rem 0 0 1rem;
}
.sidebar-icon {
  color: var(--sidebar-icon-color);
  display: inline-block;
  margin-right: 0.25rem;
  font-size: 1.5rem;
}
.sidebar-link-text {
  color: var(--sidebar-link-color);
  display: inline-block;
  padding: 0;
}

.sidebar-list-item {
  font-size: 1rem;
  margin-left: 0.5rem;
}

.sidebar-link-container {
  padding: 1rem 0;
  display: flex;
  align-items: center;
}

.sidebar-link-container:hover * {
  color: white;
  text-decoration: none;
}

/* TimerDisplay styles */

.timer-display {
  border: solid 1px black;
  padding: 0.5rem;
  position: absolute;
  bottom: 5px;
  width: 95%;

  display: flex;
  justify-content: space-between;
  align-items: center;

  background-color: var(--timer-display-bg-color);
  box-shadow: 5px 5px 5px #333;
}

.timer-display span {
  display: inline-block;
}

.timer-text-container {
  color: var(--timer-display-text-color);
  font-size: 2rem;
  display: flex;
  align-items: center;
}
.timer-text {
  display: inline-block;
}
.timer-display i {
  display: inline-block;
  color: black;
  font-size: 2rem;
  height: 2rem;
}

/* .timer-time is the class for the hours:minutes:seconds display and the seperator */
.timer-time {
  font-size: 2.5rem;
  color: black;
}

@media (max-width: 900px) {
  .sidebar {
    width: 100px;
    overflow: hidden;
  }
  .sidebar-link-text {
    display: none;
  }

  .time-tracker-logo {
    display: none;
  }
}
