html,
body {
  height: 100%;
}

.sidebar {
  height: 100vh;
  background-color: #1c4084;
  width: 100%;
  /* padding: 1.5rem; */
}

.time-tracker-logo {
  color: white;
  font-size: 2rem;
  padding: 1rem;
  text-align: center;
}

/* styles for the list of links in the sidebar */
.sidebar-list {
  list-style-type: none;
  padding: 0;
  margin-top: 2rem;
}

.sidebar-list-item {
  font-size: 1rem;
  margin-left: 0.5rem;
}

@media (max-width: 800px) {
  .sidebar-link-text {
    display: none;
  }
}
