:root {
  --sidebar-bg-color: #3f3c3c;
  --sidebar-link-color: lightslategray;
  --sidebar-icon-color: lightslategray;
  --time-tracker-logo-color: lightslategray;

  --timer-display-bg-color: lightgray;
  --timer-display-text-color: black;
  --timer-display-time-color: black;
  --timer-duration-color: lightslategray;
  --body-bg-color: #eee;
}

html,
body {
  height: 100%;
  background-color: var(--body-bg-color);
}

.no-decoration {
  text-decoration: none;
}
/* disable all underlines when hovering over links and icons */
i:hover {
  text-decoration: none;
}
.sidebar a:hover {
  text-decoration: none;
}

/* sidebar styles */
.sidebar {
  height: 100vh;
  background-color: var(--sidebar-bg-color);
  width: 100%;
  border-right: solid 1px black;
  /* padding: 1.5rem; */
}

.time-tracker-logo {
  color: var(--time-tracker-logo-color);
  font-size: 2rem;
  padding: 1rem;
  text-align: center;
}

/* styles for the list of links in the sidebar */
.sidebar-list {
  list-style-type: none;
  padding: 0;
  margin: 1rem 0 0 1rem;
}
.sidebar-icon {
  color: var(--sidebar-icon-color);
  display: inline-block;
  margin-right: 0.25rem;
  font-size: 1.5rem;
}
.sidebar-link-text {
  color: var(--sidebar-link-color);
  display: inline-block;
  padding: 0;
}

.sidebar-list-item {
  font-size: 1rem;
  margin-left: 0.5rem;
}

.sidebar-link-container {
  padding: 1rem 0;
  display: flex;
  align-items: center;
}

.sidebar-link-container:hover * {
  color: white;
  text-decoration: none;
}

.selected-sidebar-item > * {
  color: white;
}

/* TimerDisplay styles */

.timer-display {
  border: solid 1px black;
  padding: 0.5rem;
  position: absolute;
  bottom: 5px;
  width: 95%;

  display: flex;
  justify-content: space-between;
  align-items: center;

  background-color: var(--timer-display-bg-color);
  box-shadow: 5px 5px 5px #333;
}

/* task list items (mostly in TaskList.js and TaskListItem.js) */
.task-list-container {
  width: 100%;
  margin-bottom: 2rem;
  background-color: white;
  padding: 1rem;
  box-shadow: 5px 5px 5px #666;
}
.task-list {
  height: 15rem;
  overflow: scroll;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

.task-list-title {
  background-color: #3a3ae0;
  color: white;
  padding: 0.5rem;
}
.task-list-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.task-list-item-control {
  flex: 1;
}
.task-item-name {
  font-weight: bold;
  font-size: 1.5rem;
  flex: 1;
}

.task-item-status {
  flex: 1;
}
.task-item-duration {
  flex: 1;
}
span.duration {
  color: var(--timer-duration-color);
  font-size: 1.2rem;
  font-weight: bold;
}

@media (max-width: 900px) {
  .task-list-item {
    display: block;
  }

  .task-item-name {
    width: 50%;
    display: inline-block;
  }

  .task-item-duration {
    width: 50%;
    display: inline-block;
    text-align: right;
  }

  .task-item-status {
    display: none;
  }

  .task-list-item-control {
    text-align: center;
  }
}
